/*  your css code here. If applicable */
.lbox{
	display:flex;
	justify-content:space-around;
	border:5px solid black;
	background-color:gray;
	border-radius:20px;
	padding:10px;
	
}
.gbox{
/*     display:inline-block; */
	height:100px;
	width:100px;
	background-color:green;
	border-radius:50%;
/* 	text-align:center; */
/*     margin:20px; */
}  
.ybox{
/* 	display:inline; */
	height:100px;
	width:100px;
	background-color:yellow;
	border-radius:50%;
/* 	text-align:center; */
/* 	margin:20px; */
}
.rbox{
/* 	display:inline; */
	height:100px;
	width:100px;
	background-color:red;
	border-radius:50%;
/* 	text-align:center; */
/* 	margin:20px; */
}